
#buttonElement {
    cursor: pointer;
    display: block;
}

#mdnBallsButton {
    text-decoration: none;
}

#buttonElement {
    margin: auto;
}

#myOtherButton {
    text-decoration: none;
    margin: 10px;
}

#myButton {
    text-decoration: none;
}

#clockAppButton {
    text-decoration: none;
    margin: 10px;
}

#buttonsContainer {
    margin-top: 50%;
}

#top {
    background-color: rgb(3, 194, 105);
    display: block;
    margin: auto;
}

body {
    background-color: #333;
}

#calculator {
    text-decoration: none;
    margin: 10px;
}

#breakbricks {
    text-decoration: none;
    margin: 10px;
}