#navbar {
    list-style: none;
    background-color: black;
    color: white;
    text-align: center;
}

#navbar li {
    margin: 0 60px 0 60px;
    display: inline-block;
    cursor: pointer;
}

#nav a {
    display: inline-block;
}

#searchBar {
    margin-left: 200px;
    text-align: center;
}

#clock{
    display: block;
    margin: 0 auto;
    border: solid black;
    height: 200px;
    width: 200px;
    background-color: rgba(163, 70, 54, 0.678);
    border-radius: 50%;
    border-width: thin;
}

#hourHand {
    display: block;
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: white;
    margin: 100px;
    transform-origin: left;
}

#minuteHand {
    display: block;
    height: 90px;
    width: 2px;
    background-color: black;
    margin: 100px;
    transform-origin: top;
}

#myButton {
    margin-left: 50px;
    cursor: pointer;
}

#time-label {
    text-align: center;
    display: block;
    margin: 0 auto;
}

#atlLabel {
    display: block;
    text-align: center;
}

#tokyoLabel {
    text-align: center;
    display: none;
}

#anchorageLabel {
    text-align: center;
    display: none;
}

#hongKongLabel {
    text-align: center;
    display: none;
}

#parisLabel {
    text-align: center;
    display: none;
}

#moscowLabel {
    text-align: center;
    display: none;
}

#sydneyLabel {
    text-align: center;
    display: none;
}

#mumbaiLabel {
    text-align: center;
    display: none;
}

body {
    color: #fff;
  background: repeating-linear-gradient(45deg, #333333 0, #333333 5%, #4f4f4f 0, #4f4f4f 50%) 0 / 10px 10px;
}

#timeLabel {
    display: inline;
    text-align: center;
}

#timeLabel li {
    display: inline-block;
    padding-right: 20px;;
}

@media (max-width: 800px){
    #navbar li {
        margin: 10px;
    }
}